


@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');



/* font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */


*{
  font-family: "Iceland";
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
}

:root {
  --color1: #181818;
  --color2: white;
  --color3: #AF125A;
  --color4: #F6C90E;

}

a{
  color:var(--color2);
  text-decoration: none;
}

body {
  color: var(--color2);
  background: var(--color1);
  font-family: "DM Sans", sans-serif !important;
  font-weight: 400;
  
}

.head1{
  color: var(--color3);
  text-align: center;


  font-family: 'iceland';
  font-size: 60px;
  color: white;
  font-weight: 400;


/* 
  font-size: 180px;
  margin-left: 40px;
  text-align: left; */
}


.head2{ 
  color: var(--color3);
  text-align: center;

  font-weight: 400;
}




.sec-wrap{
  width: 80%;
  margin: auto;
  padding-top: 60px;
}



@media (min-width: 1200px){
  .sec-wrap{
    width: 1100px;
  }
}

@media (max-width:1200px){
  .sec-wrap{
    width:90%;
  }
}

@media (max-width:800px){
  .sec-wrap{
    width:100%;
  }
 }










 /* Bg */


 .background {
  position: fixed;
  filter: blur(50px);
  
  user-select: none;
  pointer-events: none;
  /* width: 50%; */
  z-index: 1;
  opacity: 0.3;
  
}


@media (max-width:1200px){
  .background {
      width: 100%;
      transform: rotate(90deg);
  }
} 